<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="DataBaseLaba8" connectionString="Data Source=DESKTOP-6EJJG7F;Initial Catalog=DataBaseLaba8;Integrated Security=True"/>
        <add name="DataBaseLaba8Entities" connectionString="metadata=res://*/entity.csdl|res://*/entity.ssdl|res://*/entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6EJJG7F;initial catalog=DataBaseLaba8;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>
