.main,
.main * {
  box-sizing: border-box;
  margin: 0;
}

.main {
  width: 1920px;
  height: 2811px;
  position: relative;
  margin: 0;
}

body {
  margin: 0;
}

.folder {
  width: 1920px;
  height: 97px;
  position: absolute;
  left: 0;
  top: 0;
}

.template {
  background: #000000;
  width: 1920px;
  height: 97px;
  position: absolute;
  left: -0.46px;
  top: 0.08px;
}

.container {
  width: 1440px;
  height: 97px;
  position: absolute;
  left: calc(50% - 720px);
  top: 0;
}

.wald-logo{
  height: 48px;
  cursor: pointer;
  position: absolute;
  right: 1250px;
  left: 0;
  top: 24.5px;
}

.wald {
  color: #ffffff;
  text-align: center;
  font: 600 40px 'Inter', sans-serif;
  position: absolute;
  left: -34.46px;
  top: 1.58px;
  width: 186px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterprise {
  color: #6ebe49;
  text-align: center;
  font: 600 13px 'Inter', sans-serif;
  position: absolute;
  left: -34.46px;
  top: 36.58px;
  width: 186px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  padding: 40px 1px 40px 1px;
  display: flex;
  flex-direction: row;
  gap: 47px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  top: calc(50% - 49px);
}

.search-button {
  border-radius: 8px;
  cursor: pointer;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
}

.pseudo {
  background: #ffffff;
  width: 6px;
  height: 2px;
  position: absolute;
  left: 10.88px;
  top: 8.78px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
}

.products {
  color: #ffffff;
  text-align: center;
  font: 600 20px 'Inter', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solutions {
  color: #ffffff;
  text-align: center;
  font: 600 20px 'Inter', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support {
  color: #ffffff;
  text-align: center;
  font: 600 20px 'Inter', sans-serif;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center
}
.about {
  color: #ffffff;
  text-align: center;
  font: 600 20px 'Inter', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1920px;
  height: 2353px;
  position: absolute;
  left: 0px;
  top: 97px;
}

.column {
  width: 1920px;
  height: 525px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.content-layout {
  background: #000000;
  padding: 91.5px 1040px 91.5px 240px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.background-img {
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

.content-layout-text {
  flex-shrink: 0;
  width: 640px;
  height: 342px;
  position: relative;
}

.h-1-reveal-fade-in-from-bottom {
  padding: 0px 6px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 94px;
}

.enterprise-hard-drives-ss-ds {
  color: #ffffff;
  text-align: left;
  font: 600 63px/64px 'Inter', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.built-for-bulk-data-applications-and-24-7-uptime {
  color: #ffffff;
  text-align: left;
  font: 300 18px/32px 'Inter', sans-serif;
  position: absolute;
  left: 0px;
  top: 238px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div-card-layout-products {
  background: #f4f4f4;
  width: 1920px;
  height: 913.97px;
  position: absolute;
  left: 0px;
  top: 525px;
}

.div-container2 {
  width: 1440px;
  height: 801.97px;
  position: absolute;
  left: calc(50% - 720px);
  top: 56px;
}

.div-card-layout-products-heading {
  padding: 0px 2.78px 36.59px 0px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.updated-exos-hard-drives {
  color: #000000;
  text-align: left;
  font: 500 31px/36px 'Inter', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }
  
  .high-reliability-solutions-for-private-cloud-public-cloud-and-traditional-it {
  color: rgba(0, 0, 0, 0.80);
  text-align: left;
  font: 400 18px/25.6px 'Inter', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }
  
  .div-card-container {
  padding: 23px 0px 23px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: -0.46px;
  top: 99.08px;
  overflow: hidden;
  }
  
  .ul-card-layout-products-list {
  flex-shrink: 0;
  width: 463.98px;
  height: 656.38px;
  position: relative;
  }
  
  .li-card-layout-products-product {
  background: #ffffff;
  width: 463.98px;
  height: 656.38px;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  }
  
  .large {
  height: 399.98px;
  position: absolute;
  right: 20px;
  left: 90px;
  top: 47px;
  }
  
  .div-product-details {
  width: 399.98px;
  height: 154.39px;
  position: absolute;
  left: 32px;
  top: 461.99px;
  }
  
  .e {
  color: #000000;
  text-align: left;
  font: 600 24px/28px 'Inter', sans-serif;
  position: absolute;
  left: 0px;
  top: 3px;
  width: 22.92px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }
  
  .series {
  color: #000000;
  text-align: left;
  font: 600 24px/28px 'Inter', sans-serif;
  position: absolute;
  left: 22.72px;
  top: 3px;
  width: 80.11px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }
  
  .pseudo2 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 2px 0px 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 116.63px;
  top: 11.31px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  }
  .the-most-versatile-enterprise-drives-in-the-datasphere {
    color: rgba(0, 0, 0, 0.80);
    text-align: left;
    font: 400 13px/22.4px 'Inter', sans-serif;
    position: absolute;
    left: 0px;
    top: 42px;
    width: 338.87px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .ul-product-details-use-cases {
    width: 399.98px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 116.39px;
  }
  
  .div-case {
    background: #f4f4f4;
    border-radius: 18px;
    padding: 8px 14.81px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  .mission-critical-storage {
    color: rgba(0, 0, 0, 0.80);
    text-align: left;
    font: 400 13px/22px 'Inter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .div-case2 {
    background: #f4f4f4;
    border-radius: 18px;
    padding: 8px 12.42px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 184.82px;
    top: 0px;
  }
  
  .archive {
    color: rgba(0, 0, 0, 0.80);
    text-align: left;
    font: 400 13px/22px 'Inter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .div-card-layout-products2 {
    background: #f4f4f4;
    width: 1920px;
    height: 913.97px;
    position: absolute;
    left: 0px;
    top: 1438.97px;
  }
  
  .div-card-layout-products-heading2 {
    padding: 0px 0px 36.59px 0px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  .nytro-ssd-series {
    color: #000000;
    text-align: left;
    font: 500 31px/36px 'Inter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .leverage-your-data-with-the-broadest-portfolio-of-high-performance-solid-state-drives-and-flash-solutions {
    color: rgba(0, 0, 0, 0.80);
    text-align: left;
    font: 400 18px/25.6px 'Inter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .div-card-container2 {
    padding: 23px 0px 23px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: 1440px;
    position: absolute;
    left: -0.46px;
    top: 99.11px;
    overflow: hidden;
  }
  
  .section-footer {
    background: #000000;
    width: 1920px;
    height: 361px;
    position: absolute;
    left: 0px;
    top: 2450px;
  }
  
  .div-container3 {
    width: 1440px;
    height: 305px;
    position: absolute;
    left: calc(50% - 720.46px);
    top: 0.08px;
  }
  
  .seagate-logo-text-svg2 {
    height: 48px;
    cursor: pointer;
    position: absolute;
    right: 1250px;
    left: 0px;
    top: 110.5px;
  }
  
  .div {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: calc(50% - 404.42px);
    top: 86.08px;
  }
  
  .div-footer-links {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  
  .about-wald {
    color: #ffffff;
    text-align: left;
    font: 400 15px 'Inter', sans-serif;
    position: relative;
    width: 106.59px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .our-story {
    color: rgba(255, 255, 255, 0.80);
    cursor: pointer;
    text-align: left;
    font: 400 15px 'Inter', sans-serif;
    position: relative;
    width: 73.4px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .esg {
    color: rgba(255, 255, 255, 0.80);
    cursor: pointer;
    text-align: left;
    font: 400 16px 'Inter', sans-serif;
    position: relative;
    width: 36.95px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .trust-center,
  .quality-assurance,
  .support2,
  .product-support,
  .software-downloads,
  .warranty-replacements,
  .wald-systems,
  .contact-us,
  .press-center,
  .news,
  .media-kits,
  .brand-portal,
  .partners,
  .indirect-partners-resellers,
  .wald-champions,
  .wald-direct-suppliers,
  .wald-technology-alliance,
  .program,
  .privacy,
  .site-map {
  color: rgba(255, 255, 255, 0.80);
  cursor: pointer;
  text-align: left;
  font: 400 15px 'Inter', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }
  
  .trust-center {
  width: 92.08px;
  height: 20px;
  }
  
  .quality-assurance {
  width: 134.15px;
  height: 20px;
  }
  
  .support2 {
  width: 62.45px;
  height: 20px;
  }
  
  .product-support {
  width: 123.5px;
  height: 20px;
  }
  
  .software-downloads {
  width: 153.08px;
  height: 20px;
  }
  
  .warranty-replacements {
  width: 190.17px;
  height: 20px;
  }
  
  .wald-systems {
  width: 129.72px;
  height: 20px;
  }
  
  .contact-us {
  width: 85.56px;
  height: 20px;
  }
  
  .press-center {
  width: 97.11px;
  height: 20px;
  }
  
  .news {
  width: 44.93px;
  height: 20px;
  font-size: 16px;
  }
  
  .media-kits {
  width: 80.53px;
  height: 20px;
  }
  
  .brand-portal {
  left: 0px;
  top: 1px;
  }
  
  .partners {
  width: 64.79px;
  height: 20px;
  }
  
  .indirect-partners-resellers {
  width: 206.73px;
  height: 20px;
  }
  
  .wald-champions {
  left: 0px;
  top: 1px;
  }
  
  .wald-direct-suppliers {
  width: 196.39px;
  height: 20px;
  }
  
  .wald-technology-alliance {
  display: flex;
  }
  
  .program {
  display: flex;
  }
  
  .privacy {
  display: flex;
  }
  
  .site-map {
  left: 401.01px;
  top: 0px;
  }
  
  .arrow-link-white-svg,
  .arrow-link-white-svg2,
  .arrow-link-white-svg3,
  .arrow-link-white-svg4,
  .arrow-link-white-svg5,
  .arrow-link-white-svg6 {
  position: absolute;
  }
  
  .arrow-link-white-svg {
  width: 12px;
  height: 12px;
  left: 94.23px;
  top: calc(50% - 4.14px);
  }
  
  .arrow-link-white-svg2 {
  left: calc(50% - 6px);
  top: calc(50% - 6px);
  }

  .arrow-link-white-svg3 {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 149.68px;
    top: calc(50% - 4.14px);
    }
    
    .arrow-link-white-svg4 {
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    overflow: visible;
    }
    
    .wald-direct-suppliers {
    color: rgba(255, 255, 255, 0.80);
    cursor: pointer;
    text-align: left;
    font: 400 15px 'Inter', sans-serif;
    position: relative;
    width: 196.39px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    
    .a-footer-link2 {
    padding: 1px 32.59px 1px 0px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    }
    
    .wald-technology-alliance {
    color: rgba(255, 255, 255, 0.80);
    cursor: pointer;
    text-align: left;
    font: 400 15px 'Inter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    
    .program {
    color: rgba(255, 255, 255, 0.80);
    text-align: left;
    cursor: pointer;
    font: 400 15px 'Inter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    
    .div-footer-links3 {
    padding: 2px 0px 2px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    }
    
    .facebook-svg {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    }
    
    .facebook-svg2 {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    position: relative;
    overflow: hidden;
    }
    
    .group {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    }
    
    .linkedin-svg {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    }
    
    .linkedin-svg2 {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    position: relative;
    overflow: hidden;
    }
    
    .group2 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    }
    
    .youtube-svg {
    padding: 0px 1.86px 2.74px 1.87px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    }

    .youtube-svg2 {
      flex-shrink: 0;
      width: 10.27px;
      height: 7.53px;
      position: relative;
      overflow: hidden;
      }
      
      .group3 {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      }
      
      .twitter-svg {
      padding: 0px 1px 1.71px 1px;
      display: flex;
      flex-direction: row;
      gap: 0px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
      }
      
      .twitter-svg2 {
      flex-shrink: 0;
      width: 12px;
      height: 10.29px;
      position: relative;
      overflow: hidden;
      }
      
      .group4 {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      }
      
      .instagram-svg {
      display: flex;
      flex-direction: row;
      gap: 0px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
      }
      
      .instagram-svg2 {
      flex-shrink: 0;
      width: 14px;
      height: 14px;
      position: relative;
      overflow: hidden;
      }
      
      .group5 {
      position: absolute;
      left: 0.11px;
      top: 0.11px;
      overflow: visible;
      }
      
      .div-footer-bottom {
      border-style: solid;
      border-color: rgba(112, 124, 131, 0.20);
      border-width: 1px 0px 0px 0px;
      height: 56px;
      position: absolute;
      right: 240.46px;
      left: 239.5377197265625px;
      top: 305.08px;
      }
      
      .div-footer-legal {
      padding: 1px 0px 1px 0px;
      display: flex;
      flex-direction: row;
      gap: 38px;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      left: 0px;
      top: calc(50% - 8px);
      }
      
      ._2023-wald-enterprise {
      color: rgba(255, 255, 255, 0.80);
      text-align: left;
      font: 400 12px 'Inter', sans-serif;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      }
      
      .legal {
      color: rgba(255, 255, 255, 0.80);
      text-align: left;
      cursor: pointer;
      font: 400 12px 'Inter', sans-serif;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      }
      
      .privacy {
      color: rgba(255, 255, 255, 0.80);
      text-align: left;
      cursor: pointer;
      font: 400 12px 'Inter', sans-serif;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      }
      
      .div-footer-bottom-links {
      width: 461.38px;
      height: 15px;
      position: absolute;
      left: 978.63px;
      top: calc(50% - 7px);
      }
      .site-map {
        color: rgba(255, 255, 255, 0.80);
        text-align: left;
        cursor: pointer;
        font: 400 12px 'Inter', sans-serif;
        position: absolute;
        left: 401.01px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      
      .arrow-link-white-svg5 {
        width: 9px;
        height: 9px;
        position: absolute;
        left: 452.37px;
        top: calc(50% - 3.11px);
      }
      
      .arrow-link-white-svg6 {
        position: absolute;
        left: calc(50% - 4.5px);
        top: calc(50% - 4.5px);
        overflow: visible;
      }
 .li-card-layout-products-product:hover {
    background-color: #c6c6c6;
    transition: background-color 0.7s ease;
  }


  .products,
  .solutions,
  .support,
  .about {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .products::after,
  .solutions::after,
  .support::after,
  .about::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2ec73e;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .products:hover::after,
  .solutions:hover::after,
  .support:hover::after,
  .about:hover::after {
    transform: scaleX(1);
  }

  #scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #c7c7c7;
    color: green;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 50px;
    transform: rotate(0deg);
    padding-bottom: 50px;
  }

  #scrollButton:hover {
    box-shadow: 0 0 5px rgba(12, 179, 6, 0.3);
    background-color: #727272;
  }